:root {
    --header-color: #5a0808;
    --border-color: black;
    --main-bg-color: #dddddd;
    --grey-color: #dddddd;
    --light-bg-color: white;
    --light-contrast-color: #f88383;
    --contrast-color: #e4d553;
    --dark-text-color: black;
}