.dropdown {
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--light-bg-color);
    overflow: hidden;
    transition: height 500ms ease-in-out;
}

.dropdown__selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 2px 0;
    margin: 0 10px;
    border-bottom: 1px solid var(--border-color);
}

.dropdown__selected-option .arrow-icon {
    height: 10px;
}

.dropdown ul {
    margin: 0;
    padding: 10px 5px;
}

.dropdown ul li + li {
    margin-top: 10px;
}

.dropdown .drowpdown__option {
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 500ms;
}

.dropdown .drowpdown__option.selected {
    background-color: var(--light-contrast-color);
}