#filter__icon-container {
    position: fixed;
    top: 52px;
    left: 10px;
    width: 36px;
    height: 36px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    z-index: 1000;
}

#filter.expanded #filter__icon-container {
    animation: pop-out-in 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.34, 1.14, 0.2, 0.99);
}

#filter .filter-icon path {
    fill: var(--border-color);
}

#filter .filter__title {
    font-weight: bold;
}

#filter .filter__section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

#filter .clear-btn {
    color: var(--dark-contrast-color);
}

#filter .section {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

#filter__wrapper {
    position: fixed;
    top: 42px;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--light-bg-color);

    transform: translateX(calc(-100% - 20px));
    overflow: hidden;
    z-index: 10000;

    transition: transform 500ms;
}

#filter.expanded #filter__wrapper {
    transform: translateX(0);
    transition: transform 500ms 400ms;
}

#filter__container {
    height: calc(100% - 92px);
    overflow-y: auto;
}

#filter__filters {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
}

#filter__wrapper li + li {
    margin-top: 10px;
}

#filter__wrapper ul {
    margin: 0;
}

#filter h2 {    
    margin: 20px 0 0 20px;
}

#filter #close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
}

#filter .btn-container {
    position: absolute;
    bottom: 42px;
    width: 100%;
    height: 48px;
    align-items: center;
    background-color: var(--light-bg-color);
}

#filter .btn-container button {
    width: 64px;
    height: 28px;
    border: 1px solid;
    border-radius: 10px;
}

#filter .btn-container button + button {
    margin-left: 20px;
}

#filter .submit-btn {
    background-color: var(--light-contrast-color);
}

#filter .cancel-btn {
    background-color: var(--grey-color);
}

@keyframes pop-out-in {
    0% {
        scale: 1;
    }

    60% {
        scale: 1.2;
    }

    100% {
        scale: 0;
    }
}