#main-header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 42px;
    padding: 0 5px;

    background-color: var(--header-color);
    z-index: 1000;
}

#main-header #logo {
    display: flex;
}

#main-header #logo img {
    height: 24px;
}

#menu .icon {
    height: 20px;
}

#menu .menu-icon {
    margin: 2px 0;
}

#menu #expand-btn {
    position: absolute;
    top: 4px;
    left: 6px;
    transition: opacity 300ms 500ms;
}

#menu #collapse-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: opacity 300ms;
}

#menu h2 {
    margin: 0;
    margin-left: 22px;
    transition: margin-left 500ms;
}

#menu {
    position: absolute;
    top: 3px;
    right: 10px;

    width: 36px;
    height: 36px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-color: var(--light-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 50%;

    overflow: hidden;
    
    transition: width 400ms ease-in-out, height 400ms ease-in-out, border-radius 100ms ease 350ms;
}

#menu.expanded {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    transition: width 400ms ease-in-out 100ms, height 400ms ease-in-out 100ms, border-radius 200ms ease-out;
}

#menu.expanded #collapse-btn {
    opacity: 1;
    transition: opacity 300ms 500ms;
}

#menu.expanded #expand-btn {
    opacity: 0;
    transition: opacity 300ms;
}

#menu.expanded h2 {
    margin-left: 0;
}

#menu ul {
    margin: 10px 0 0;
    list-style: none;
    padding-inline-start: 0;
}

#menu ul li + li {
    margin-top: 5px;
}

#menu__header {
    min-height: 22px;
    overflow: hidden;
}
