:root {
    --items-per-page: 5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

html, body {
    height: 100%;
}

#app {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--dark-text-color);
}

a:visited {
    color: var(--dark-text-color);
}

.icon-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.no-style-list {
    list-style: none;
    padding-inline-start: 0;
}

.text-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.single-centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 740px) {
    :root {
        --items-per-page: 10;
    }
}

@media (min-width: 900px) {
    :root {
        --items-per-page: 15;
    }
}

@media (min-width: 1280px) {
    :root {
        --items-per-page: 20;
    }
}