.popup {
    position: fixed;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    max-width: 400px;
    padding: 10px;
    background-color: var(--contrast-color);

    border: 1px solid var(--border-color);
    border-radius: 10px;

    z-index: 10000;
    opacity: 0;
    animation: fade-in-out 2s ease-in-out;
}

.popup p {
    margin: 0;
    padding: 5px;
    background-color: var(--light-bg-color);
    border-radius: 10px;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}