.product__price {
    text-align: center;
    margin: 10px 0;
}

.product__price span {
    padding: 2px 5px;
}

.product__price .amount.discounted {
    text-decoration: line-through;
}

.product__price .discount {
    border-radius: 5px;
    background-color: var(--light-contrast-color);
    box-shadow: 0 0 8px -4px;
}
