.product {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--light-bg-color);
    box-shadow: 0px 0px 12px -4px;
}

.product img {
    object-fit: cover;
    width: 100%;
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.product__title {
    position: relative;
    text-align: center;
}

.product__title .discount {
    position: absolute;
    bottom: -59px;
    right: 10px;

    width: 44px;
    height: 44px;
    padding: 5px;

    border-radius: 50%;
    background-color: var(--light-contrast-color);
}

.product h2 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
}

.product h3 {
    margin: 5px 0;
}

.product h4 {
    width: fit-content;
    margin: 0;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: var(--grey-color);
}

.product__description {
    position: relative;
    overflow: hidden;
}

.product__description p {    
    height: 3.3rem;
    line-height: 1.1rem;
    margin: 0;
}

.product__description span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px 0 20px;
    background: linear-gradient(90deg, transparent, var(--light-bg-color) 20px);
    z-index: 100;
}

.product__additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.star-icon,
.half-srar-icon {
    width: 24px;
    height: 24px;
    margin-right: 2px;
}

.star-icon path,
.half-srar-icon path {
    stroke: var(--border-color);
}

.star-icon {
    fill: none;
}

.star-icon.filled,
.half-srar-icon {
    fill: var(--contrast-color);
}

.buy-btn {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--dark-contrast-color);
    color: white;
    font-weight: bold;
}