.product-counter {
    text-align: center;
}

.product-counter p {
    margin: 0 0 5px 0;
}

.product-counter__progress-bar {
    width: 100%;
    height: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--light-bg-color);
}

.product-counter__progress-bar div { 
    height: 100%;
    background-color: var(--light-contrast-color);
}

.product-counter__progress-bar,
.product-counter__progress-bar div {
    border-radius: 5px;
}