.product-counter {
    text-align: center;
}

.product-counter p {
    margin: 0 0 5px 0;
}

.product-counter__progress-bar {
    width: 100%;
    height: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--light-bg-color);
}

.product-counter__progress-bar div { 
    height: 100%;
    background-color: var(--light-contrast-color);
}

.product-counter__progress-bar,
.product-counter__progress-bar div {
    border-radius: 5px;
}

@media (min-width: 740px) {
    .product-counter {
        grid-column: 1 / 3;
    }

    .product-counter__progress-bar {
        width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 900px) {
    .product-counter {
        grid-column: 1 / 4;
    }
}

@media (min-width: 1280px) {
    .product-counter {
        grid-column: 1 / 5;
    }
}