.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__area {
    position: relative;
    height: 5px;
    width: 100%;
}

.slider__ticks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.slider__bar {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--light-bg-color);
}

.slider__bar-fill {
    height: 100%;
    background: linear-gradient(90deg, var(--contrast-color), var(--light-contrast-color));
}

.slider__handle {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: var(--light-text-color);
    cursor: grab;
}

.slider__value-container {
    align-self: flex-start;
    margin-bottom: 20px;
}

.slider input {
    width: 42px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--light-text-color);
}